HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### k8s ###
/k8s/charts/postgres/secret-values-dev.yaml
/k8s/charts/postgres/secret-values-prod.yaml
/k8s/charts/postgres/secret-values-test.yaml
/k8s/charts/account/secret-values-dev.yaml
/k8s/charts/postgres/templates/init-configmap.yaml
/k8s/charts/exchange/secret-values-dev.yaml
/k8s/charts/exchange-generator/secret-values-dev.yaml
/k8s/charts/keycloak/secret-values-dev.yaml
/k8s/charts/notification/secret-values-dev.yaml
/k8s/charts/front-ui/secret-values-dev.yaml
/k8s/umbrella/secret-values-dev.yaml
/k8s/umbrella/secret-values-test.yaml
/k8s/umbrella/secret-values-prod.yaml

### env ###
/.env
/jenkins/.env
/services/exchange/.env
/services/exchange-generator/.env
/services/notification/.env
/services/blocker/.env
/services/account/.env
/services/cash/.env
/services/transfer/.env
/services/front-ui/.env
